<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- ConfigSections -->
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<!-- Startup Settings -->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<!-- AppSettings -->
	<appSettings>
		<add key="DirectoryPath" value="E:\JadianSupport\from baber\todele" />
		<add key="FileExtensions" value=".bak,.rar" />
		<add key="IncludeSubdirectories" value="true" />
		<!-- Add more key-value pairs as needed -->
	</appSettings>

	<!-- log4net Configuration -->
	<log4net>

		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs\logfile.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="1MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<root>
			<level value="INFO" />
			<appender-ref ref="FileAppender" />
		</root>
		
		<!--<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<root>
			<level value="DEBUG" />
			<appender-ref ref="ConsoleAppender" />
		</root>-->
	</log4net>

</configuration>
<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs\logfile.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="1MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<root>
			<level value="INFO" />
			<appender-ref ref="FileAppender" />
		</root>
	</log4net>



</configuration>-->